[Desktop Entry]
Name=Rocket-Launcher
GenericName=Application launcher
Comment=Fast lightweight application launcher
Exec=rocket-launcher
Icon=rocket-launcher
Terminal=false
Type=Application
Categories=Utility;
