[Desktop Entry]
Name=Panzerfaust
GenericName=Application starter
Comment=Fast lightweight application starter
Exec=panzerfaust-launcher
Icon=panzerfaust-launcher
Terminal=false
Type=Application
Categories=Utility;
